*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.hero {
    width: 100%;
    min-height: 100vh; 
    background-image: url(/assets/Background.png);
    background-position: center;
    background-size: cover;
    padding: 10px;
    display: flex;
    flex-direction: column;

}

.navigation {
    position: relative; 
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;

}

.User-Name {
    margin: 10px; 
    text-align: center;
    left: 50%;
    transform: translateX(-40%);
}

.User {
    font-size: 40px;
    font-weight: 400;
    white-space: nowrap;
}

a {
    text-decoration: none;
    color: inherit;
    padding: 10px;
    font-size: 25px;
}

a:hover {
    color:#8CAD4A
}


.logo {
    width: 25rem; 
    margin-top: 10px;
    margin-left: 30px;
}


.button {
    display: inline-block;
    padding: 20px; 
    font-size: 25px;
    margin: 10px; 
    background-color: #8CAD4A;
    color: white; 
    border-radius: 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;

}

.button:hover {
    background-color: #73963a;
    cursor: pointer;
}

.Main-Content{
    border-style: solid;
    height: 85vh;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.Middle-Content{
    display: grid;
    grid-template-rows: 3fr 1fr;
}

.Dashboard {
    border-style: solid;
    margin: 10px; 
    border-radius: 30px;

}

.ChatBot {
    margin: 10px;
    padding: 30px;
    border-radius: 30px;
    background-color: rgba(154, 176, 109, 0.3);
    display: flex;
    flex-direction: column;
}

.Chatbot-text {
    margin-bottom: 20px;
}

.ChatBot-Text {
    color: #2f2f2f;
    font-size: 28px;
    font-weight: 500;
    margin-left: 20px;
    margin-top: 20px;
}

.User-Input-Box {
    background-color: #9AB06D;
    border-radius: 60px;
    padding: 30px;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    color: #2f2f2f;
    margin: 0 auto;
    width: 100%;
    display: flex;
}

.Input-Text{
    font-weight: 100;
    padding: 15px 25px;
    font-size: 20px;
    border-radius: 50px;
    border: none;
    background-color: #9AB06D;
    color: #2f2f2f;
    outline: none;
    font-weight: 400;
    
}

.Input-Text::placeholder {
    color: #2f2f2f;
    opacity: 1;
}



.SideBar{
    margin: 10px; 
    background-color: #8CAD4A;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.image-assets {
    margin: 10px; 
    display: grid
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;

}

.image1{
    width: 80%
}

.image2{
    width: 60%;

}

.image3{
    width: 40%
}